/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  flex: 1;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
  color: #bbb;
}

input[type="checkbox"] {
  margin-right: 10px;
}

p {
  display: inline;
  color: #dc3545;
  margin-left: 10px;
  cursor: pointer;
}

p:hover {
  color: #c82333;
}

#searchBar {
  margin-bottom: 20px;
}
